{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  <div align="center">

    <h1>Home<h1>
 
</div>
<body>
  <div class="jumbotron">
  <div class="container">

{% for post in posts %}
<form method="post" action="{{ url_for('comment_store') }}">
<p>Post No:<textarea name="postid" cols="1" rows="1">{{post.id}}</textarea></p>
<div align="center">
<b><p>{{post.author}}</p></b>
<p><{{post.post}}</p><b>
</div>
{{post.day}} 
{{post.time}}

<p>Name<input type="text"name="guest" ></p>
<p>Comment<input type="text" name="comments" ></p>
<input type="submit" value="Comment" />
</form>	
<p>Comments</p>
{{post.comment}}

{% endfor %}
</div>
 </body>

</div>
{% endblock %}
